body {
    font-size: large;
    font-family: 'Times New Roman';
    background-color:  rgb(214, 201, 226);
    background-image: url("../imgs/pixil-frame-2.png"),linear-gradient(rgb(227, 248, 255),rgb(195, 225, 206));
    background-blend-mode:overlay;
    padding-left: 14em;
}
#logo {
    position: absolute;
    top: 1em;
    left: 1em;
}

h1, h2, h3, h4 { font-family: JetBrainsMono Nerd Font; }
h1 { 
    text-align: center;
    padding-top: 1em; 
    padding-bottom: 2em; 
}

a:link { color: rgb(0, 102, 255); }
a:visited { color: rgb(65, 122, 11); }
a:hover { color: rgb(0, 102, 255); }

ul.navbar {
    position: absolute;
    top: 9.5em;
    left: 1em;
    width: 10.5em;
    padding-inline-start: 0px;  /* Remove the default padding of an ul */
}
ul.navbar li {
    list-style-type: none;
    background-color: rgb(245, 152, 77);
    height: 1.5em;
    margin-bottom: 0.75em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    border-right: 1em solid rgb(2, 84, 100);
    font-size: 1.05em;
}

.footer {
    border-top: 1px solid black;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}